@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;1,700&display=swap');

html {
  scroll-behavior: smooth;
}

*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  font-family: 'Amaranth', sans-serif;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}


/* === PAGES === */
.page {
  min-height: 80vh;
}

/* PORFOLIO */
.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  place-items: center;
  gap: 10px;
  padding: 30px;
}


/* About page */
.about__me {
  padding: 20px;
  max-width: 1300px;
  margin: 20px auto;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about__me > img  {
  width: 95%;
  height: 100%;
}

.about__details > p {
  line-height: 1.5;
  font-family:  sans-serif;
  padding: 10px;
  text-align: justify;
}

@media only screen and (max-width: 768px) {
  .about__me {
    display: block;
  }

  .about__me > img {
    width: 60%;
    height: 60%;
    float: left;
  }

  .about__details > p {
    text-align: left;
  }
}

@media only screen and (max-width: 425px) {
  .about__me > img {
    width: 40%;
    height: 40%;
  }
  
}

/* Contact page */
.contactForm__container {
  /* background-color: white; */
  padding: 20px;
  max-width: 600px;
  margin: 20px auto;
}

.contactForm__container > form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.formControl {
  display:  flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 100%;
}

.formControl > input,
.formControl > textarea  {
  font-family: sans-serif, Helvetica;
  font-size: 1rem;
  padding: 10px;
  width: 100%;
  border: 1px solid lightgray;
}

.formControl > input:focus,
.formControl > textarea:focus {
  outline: 1px solid #0098BC;

} 

.formControl > textarea  {
  min-height: 200px;
  resize: none;
}

.formControl > button {
  border: none;
  padding: 10px 20px;
  background-color: #0098BC;
  color: #fff;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  margin-top: 10px;
}

.formControl > button:hover {
  background-color: #07728a;
}

@media only screen and (min-width: 768px) {
  .formControl.sender-data {
    flex-direction: row;
  }
}


/* General */
.page__title {
  text-align: center;
  font-size: 2rem;
  color: #0098bc;
}

.page__title::after {
  content: '__';
  display: block;
  margin-top: -35px;
}

/* ==== 404 Page ==== */
.noMatch {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.noMatch img {
  width: 400px;
}

.noMatch h2 {
  font-size: 2rem;
  margin-top: 1rem;
  text-align: center;
  color: #272b2b;
}

.btn-back {
  display: inline-block;
  text-decoration: none;
  padding: 1rem;
  background-color: #0098BC;
  border-radius: 30px;
  color: white;
  margin-top: 2rem;
  text-transform: uppercase;
  font-size: 1.3rem;
  cursor: pointer;
  transition: all .3s ease-in-out;
}

.btn-back:hover {
  background-color: #0099bcce;
}

@media only screen and (max-width: 450px) {
  .noMatch img {
    width: 200px;
  }

  .noMatch h2 {
    font-size: 1.2rem;
  }

  .btn-back {
    font-size: 1rem;
  }
}
