
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
}

.navbar a {
  text-decoration: none;
}

.logo {
  width: auto;
  height: 70px;
}


.menu ul {
  display: flex;
  justify-content: space-between;
}

.menu ul li {
  list-style: none;
  padding: 0.5rem;
  font-size: 1.2rem;
}

.menu ul li a {
  padding: 0.5rem;
  border-radius: 5px;
  color: #0098BC;
  transition: all .3s ease-in-out;
}

.menu ul li:hover a {
  background-color: #ffb3009a;
}

.active {
  background-color: #ffb3009a;
}


@media screen and (max-width: 768px) {
  .navbar {
    display: block;
    text-align: center;
  }

  .menu ul {
    display: flex;
    justify-content: center;
  }

  .menu ul li {
    font-size: 1rem;
  }

  .menu ul li:last-child a {
    border: none;
    border-bottom: 2px solid #ffb3009a;
  }
  
  .menu ul li a {
    border-radius: 0px;
    border-bottom: 2px solid #ffb3009a;
  }

}

@media screen and (max-width: 279px) {
  .logo {
    height: 40px;
  }

}